@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-background: oklch(0.141 0.005 285.823);
    --color-foreground: oklch(0.985 0 0);
    --color-card: oklch(0.21 0.006 285.885);
    --color-card-foreground: oklch(0.985 0 0);
    --color-popover: oklch(0.21 0.006 285.885);
    --color-popover-foreground: oklch(0.985 0 0);
    --color-primary: oklch(0.606 0.25 292.717);
    --color-primary-foreground: oklch(0.969 0.016 293.756);
    --color-secondary: oklch(0.274 0.006 286.033);
    --color-secondary-foreground: oklch(0.985 0 0);
    --color-muted: oklch(0.274 0.006 286.033);
    --color-muted-foreground: oklch(0.705 0.015 286.067);
    --color-accent: oklch(0.274 0.006 286.033);
    --color-accent-foreground: oklch(0.985 0 0);
    --color-destructive: oklch(0.704 0.191 22.216);
    --color-border: oklch(1 0 0 / 10%);
    --color-input: oklch(1 0 0 / 15%);
    --color-ring: oklch(0.38 0.189 293.745);
    --color-chart-1: oklch(0.811 0.111 293.571);
    --color-chart-2: oklch(0.606 0.25 292.717);
    --color-chart-3: oklch(0.541 0.281 293.009);
    --color-chart-4: oklch(0.491 0.27 292.581);
    --color-chart-5: oklch(0.432 0.232 292.759);
    --color-sidebar: oklch(0.21 0.006 285.885);
    --color-sidebar-foreground: oklch(0.985 0 0);
    --color-sidebar-primary: oklch(0.606 0.25 292.717);
    --color-sidebar-primary-foreground: oklch(0.969 0.016 293.756);
    --color-sidebar-accent: oklch(0.274 0.006 286.033);
    --color-sidebar-accent-foreground: oklch(0.985 0 0);
    --color-sidebar-border: oklch(1 0 0 / 10%);
    --color-sidebar-ring: oklch(0.38 0.189 293.745);
}

@layer base {
    #root {
        @apply h-full;
    }

    html,
    body {
        @apply h-full select-none antialiased overflow-hidden bg-secondary text-foreground;
        font-family: 'Geist', sans-serif;
    }
}

header {
    -webkit-app-region: drag;
}

button {
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 4px;
}

::web-kit-scrollbar-track {
    background-color: transparent;
}